body{
	margin: 0;
	font-family: arial;
	font-size: 14px;
	background: #222;
}

.game-field{
	position: relative;
	margin: 0 auto;
	width: 520px;
	height: 490px;
}

.middle{
	float: left;
	width: 50%;
	height: 100%;
	border-right: 4px dashed #fafafa;
}

.paddle{
	position: absolute;
	width: 8px;
	height: 32px;
	background: #fafafa;
}

.ball{
	position: absolute;
	background: #fafafa;
	width: 8px;
	height: 8px;
}